<div class="footer">
    <div class="footer-container">
        <!-- Social Media Section -->
        <div class="footer-social">
            <h4>关注我们</h4>
            <div class="social-icons">
                <a href="https://mp.weixin.qq.com/s/U3ifvkXuqXw07WHb2a4lag" class="social-icon wechat">
                    <img src="/assets/icons/wechat.svg" alt="WeChat">
                </a>
                <a href="https://www.xiaohongshu.com/user/profile/62ae469b0000000019029104" class="social-icon xiaohongshu">
                    <img src="/assets/icons/xiaohongshu.svg" alt="小红书">
                </a>
                <a href="https://www.instagram.com/feiyu.theater/" class="social-icon instagram">
                    <img src="/assets/icons/instagram.svg" alt="Instagram">
                </a>
                <!-- We do not have an official tiktok account yet -->
                <!-- <a href="#" class="social-icon tiktok">
                    <img src="/assets/icons/tiktok.svg" alt="TikTok">
                </a> -->
                <a href="https://space.bilibili.com/339831597" class="social-icon bilibili">
                    <img src="/assets/icons/bilibili.svg" alt="bilibili">
                </a>
                <a href="https://www.youtube.com/@feiyutheater2595" class="social-icon youtube">
                    <img src="/assets/icons/youtube.svg" alt="YouTube">
                </a>
            </div>
        </div>

        <!-- Email Subscription Section -->
        <div class="footer-subscription">
            <h4>电子报刊</h4>
            <p>订阅电子报刊获取演出活动等非鱼最新动态</p>
            <form action="https://facebook.us18.list-manage.com/subscribe/post?u=8604b9667b2d76b84015edf34&amp;id=ccd6c4c574&amp;f_id=0058afe6f0" method="post" class="subscription-form" target="_blank">
                <input type="email" name="EMAIL" placeholder="输入邮箱地址" required>
                <input type="hidden" name="tags" value="3073859">
                <!-- Anti-bot honeypot field -->
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_8604b9667b2d76b84015edf34_ccd6c4c574" tabindex="-1" value="">
                </div>
                <button type="submit" name="subscribe">订阅</button>
            </form>
            <div id="subscription-message" style="display: none; margin-top: 10px;"></div>
        </div>
    </div>
    
    <!-- Copyright Section moved to bottom -->
    <div class="footer-copyright">
        <p>&copy; 2025 非鱼剧社 版权所有</p>
    </div>
</div>