<!-- Hero Banner Section -->
<section class="hero-section">
  <div class="hero-overlay"></div>
  <div class="container">
    <div class="hero-background-container" style="background-image: url('{{ include.hero.background_image }}');">
      <div class="hero-background-overlay"></div>
      <div class="hero-content">
        <h1 class="hero-title">{{ include.hero.title }}</h1>
        <div class="hero-meta">
          <h2 class="hero-date">{{ include.hero.date }}</h2>
          <h2 class="hero-location">地点：{{ include.hero.location }}</h2>
        </div>
        {% include components/countdown.html event_datetime=include.hero.event_datetime%}
        <a href="/tickets" class="hero-cta-button">点击购票</a>
      </div>
    </div>
  </div>
</section>