@use "vendors/bootstrap-min";

#threeUpCarousel {
  margin-bottom: 4rem;     /* add extra vertical space after carousel */

  .carousel-inner {
    overflow: hidden;
    padding: 40px 30px;
  }

  .carousel-item img
  {
    height: 240px;         /* set your preferred height */
    object-fit: cover;     /* neat crop */
  }
}

.photo-card {
    @extend .col-12;
    @extend .col-md-4;

    img {
      box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.35);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      @extend .d-block;
      @extend .w-100;
      @extend .rounded;
    }

    &:hover {
      // transform: scale(1.05);

      img {
        // transform: scale(1.1);
        transform: translateY(-5px) scale(1.01);
        box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.35);
      }
    }
}

.about-main {
    flex: 1;
    padding-bottom: 60px;
}
