.footer {
    background-color: rgb(35, 35, 35);
    color: rgb(135, 135, 135);
    width: 100%;
    padding: 6px 0 6px 0;
    position: relative;
    z-index: 900;
    font-size: 0.75rem;
    letter-spacing: 0.02em;

    &-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 16px;
        width: 100%;
    }
}