<section class="prev-works py-5 bg-light">
    <div class="container text-center">
        <h2 class="mb-4 text-danger">往期作品</h2>
        <div class="row justify-content-center">
            <div class="container py-4">
                <div class="works-grid">
                    {% include components/card.html
                    img="/assets/imgs/the-message.png"
                    alt="这个男人来自地球"
                    date="2025年1月"
                    title="这个男人来自地球" %}

                    {% include components/card.html
                    img="/assets/imgs/the-man-from-earth.png"
                    alt="这个男人来自地球"
                    date="2025年1月"
                    title="这个男人来自地球" %}

                    {% include components/card.html
                    img="/assets/imgs/the-man-from-earth.png"
                    alt="这个男人来自地球"
                    date="2025年1月"
                    title="这个男人来自地球" %}
                </div>
            </div>
        </div>
        <button class="btn btn-danger">查看更多</button>
    </div>
</section>