<section class="recent-events py-5">
    <div class="container">
        <h2 class="text-center mb-4 text-danger">近期活动</h2>
        <div class="container py-4">
            <div class="event-item row mb-4">
                <div class="col-md-4">
                    <img src="/assets/imgs/the-man-from-earth.png" class="img-fluid" alt="活动1">
                </div>
                <div class="col-md-8">
                    <p class="text-danger fw-bold">2025-06-08</p>
                    <h4>话剧《这个男人来自地球》</h4>
                    <p>地点：SJSU Hammer Theatre, San Jose, CA</p>
                    <p>这是一个关于一位大学教授突然宣布自己活了上万年的故事，引发了一连串令人深思的哲学对话和人性探讨。</p>
                    <button class="btn btn-danger">点击购票</button>
                </div>
            </div>

            <div class="event-item row mb-4">
                <div class="col-md-4">
                    <img src="/assets/imgs/the-message.png" class="img-fluid" alt="活动2">
                </div>
                <div class="col-md-8">
                    <p class="text-danger fw-bold">2025-03-08</p>
                    <h4>话剧《娜拉归来》</h4>
                    <p>地点：SJSU Hammer Theatre, San Jose, CA</p>
                    <p>延续易卜生经典话剧《玩偶之家》主题，探讨现代女性在社会中面对的选择与挑战。</p>
                    <button class="btn btn-danger">点击购票</button>
                </div>
            </div>
        </div>
    </div>
</section>